# NOTEBOOK 2 — Exploration

## **Dataset Exploration**

#### Checking for null values

Since I am planning to incorporate specific columns, it is best that I check for any null values in any columns for any observations

In [1]:
import pandas as pd

# original dataframe
df = pd.read_csv("FC26_20250921.csv")
df.head()

/tmp/ipykernel_7688/572245525.py:4: DtypeWarning: Columns (39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("FC26_20250921.csv")

,player_id,player_url,fifa_version,fifa_update,fifa_update_date,short_name,long_name,player_positions,overall,potential,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,player_face_url
0,252371,/player/252371/jude-bellingham/260004/,26,4,2025-09-19,J. Bellingham,Jude Victor William Bellingham,"CAM, CM",90,94,...,85+3,85+3,83+3,82+3,81+3,81+3,81+3,82+3,18+3,https://cdn.sofifa.net/players/252/371/26_120.png
1,239053,/player/239053/federico-valverde/260004/,26,4,2025-09-19,F. Valverde,Federico Santiago Valverde Dipetta,"CM, CDM, RB",89,90,...,87+3,87+3,86+3,86+3,83+3,83+3,83+3,86+3,18+3,https://cdn.sofifa.net/players/239/053/26_120.png
2,212622,/player/212622/joshua-kimmich/260004/,26,4,2025-09-19,J. Kimmich,Joshua Walter Kimmich,"CDM, RB, CM",89,89,...,87+2,87+2,86+3,85+3,82+3,82+3,82+3,85+3,21+3,https://cdn.sofifa.net/players/212/622/26_120.png
3,235212,/player/235212/achraf-hakimi/260004/,26,4,2025-09-19,A. Hakimi,Achraf Hakimi Mouhأشرف حكيمي,"RB, RM",89,90,...,83+3,83+3,86+3,86+3,81+3,81+3,81+3,86+3,17+3,https://cdn.sofifa.net/players/235/212/26_120.png
4,224232,/player/224232/nicolo-barella/260004/,26,4,2025-09-19,N. Barella,Nicolò Barella,CM,87,87,...,85+2,85+2,84+3,83+3,80+3,80+3,80+3,83+3,19+3,https://cdn.sofifa.net/players/224/232/26_120.png

In [2]:
cols_to_check = [
    "player_id",
    "short_name",
    "age",
    "nationality_name",
    "player_positions",
    "overall",
    "value_eur",
    "pace",
    "shooting",
    "passing",
    "dribbling",
    "defending",
    "physic"
]

df[cols_to_check].isna().sum().sort_values(ascending = False)

defending           2062
passing             2062
dribbling           2062
pace                2062
shooting            2062
physic              2062
player_positions       0
age                    0
short_name             0
player_id              0
nationality_name       0
overall                0
value_eur              0
dtype: int64

There are only missing values in the in-game attribute columns. An equal amount of missing values, therefore, there must be a reason they are missing and to continue I must know why.

In [3]:
rows_with_nulls = df[df[cols_to_check].isna().any(axis = 1)]
rows_with_nulls

,player_id,player_url,fifa_version,fifa_update,fifa_update_date,short_name,long_name,player_positions,overall,potential,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,player_face_url
9382,210257,/player/210257/ederson-santana-de-moraes/260004/,26,4,2025-09-19,Ederson,Ederson Santana de Moraes,GK,85,85,...,45+3,45+3,38+3,36+3,36+3,36+3,36+3,36+3,83+2,https://cdn.sofifa.net/players/210/257/26_120.png
11122,215698,/player/215698/mike-maignan/260004/,26,4,2025-09-19,M. Maignan,Mike Peterson Maignan,GK,87,88,...,44+3,44+3,38+3,37+3,37+3,37+3,37+3,37+3,85+3,https://cdn.sofifa.net/players/215/698/26_120.png
11893,202811,/player/202811/emiliano-martinez/260004/,26,4,2025-09-19,E. Martínez,Damián Emiliano Martínez Romero,GK,85,85,...,43+3,43+3,37+3,36+3,37+3,37+3,37+3,36+3,83+2,https://cdn.sofifa.net/players/202/811/26_120.png
12141,204935,/player/204935/jordan-pickford/260004/,26,4,2025-09-19,J. Pickford,Jordan Lee Pickford,GK,84,84,...,43+3,43+3,35+3,34+3,35+3,35+3,35+3,34+3,83+1,https://cdn.sofifa.net/players/204/935/26_120.png
13293,226753,/player/226753/andre-onana/260004/,26,4,2025-09-19,A. Onana,André Onana,GK,80,80,...,39+3,39+3,34+3,32+3,32+3,32+3,32+3,32+3,79+1,https://cdn.sofifa.net/players/226/753/26_120.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18400,267946,/player/267946/jun-sub-lim/260004/,26,4,2025-09-19,Lim Jun Sub,Joon-seob Im임준섭,GK,48,54,...,19+2,19+2,16+2,16+2,19+2,19+2,19+2,16+2,47+2,https://cdn.sofifa.net/players/267/946/26_120.png
18401,76593,/player/76593/jianxian-yu/260004/,26,4,2025-09-19,Yu Jianxian,Jianxian Yu,GK,49,56,...,18+2,18+2,16+2,16+2,19+2,19+2,19+2,16+2,48+2,https://cdn.sofifa.net/players/076/593/26_120.png
18402,77205,/player/77205/man-ho-park/260004/,26,4,2025-09-19,Park Man Ho,Man Ho Park,GK,48,59,...,19+2,19+2,17+2,16+2,17+2,17+2,17+2,16+2,47+2,https://cdn.sofifa.net/players/077/205/26_120.png
18403,278149,/player/278149/dipesh-chauhan/260004/,26,4,2025-09-19,D. Chauhan,Dipesh Chauhan,GK,51,61,...,17+2,17+2,17+2,17+2,16+2,16+2,16+2,17+2,50+2,https://cdn.sofifa.net/players/278/149/26_120.png
18404,79985,/player/79985/haochen-peng/260004/,26,4,2025-09-19,Peng Haochen,Haochen Peng,GK,49,58,...,18+2,18+2,15+2,15+2,16+2,16+2,16+2,15+2,48+2,https://cdn.sofifa.net/players/079/985/26_120.png

After expanding on the missing in-game attributes, all of the players who are missing these values are goalkeepers, which makes sense. In order to further explore the relationship and reach a conclusion, the incorporation of goalkeepers isn't ideal, since it would skew the data. With this in mind, I will be exploring all players, excluding the goalkeepers.

### New Dataframe

The following dataframe only includes in-field players and the specific columns needed

In [4]:
# columns needed
cols_needed = [
    "player_id",
    "short_name",
    "age",
    "nationality_name",
    "player_positions",
    "overall",
    "potential",
    "value_eur",
    "pace",
    "shooting",
    "passing",
    "dribbling",
    "defending",
    "physic"
]

# removes goalkeepers
df_no_gk = df[~df["player_positions"].str.contains("GK", na = False)]

# filters the dataframe
df_filtered = df_no_gk[cols_needed]
df_filtered.head()

,player_id,short_name,age,nationality_name,player_positions,overall,potential,value_eur,pace,shooting,passing,dribbling,defending,physic
0,252371,J. Bellingham,22,England,"CAM, CM",90,94,174500000,80.0,86.0,83.0,90.0,78.0,85.0
1,239053,F. Valverde,26,Uruguay,"CM, CDM, RB",89,90,120500000,88.0,84.0,84.0,84.0,83.0,85.0
2,212622,J. Kimmich,30,Germany,"CDM, RB, CM",89,89,86000000,72.0,74.0,89.0,84.0,83.0,79.0
3,235212,A. Hakimi,26,Morocco,"RB, RM",89,90,111000000,92.0,79.0,82.0,83.0,82.0,79.0
4,224232,N. Barella,28,Italy,CM,87,87,79500000,80.0,78.0,84.0,86.0,81.0,76.0

Since I am planning to compare players by position, it is best that each player only represents their primary position

In [5]:
df_filtered.loc[:, "player_positions"] = (
    df_filtered["player_positions"]
    .str.split(",")
    .str[0]
    .str.strip()
)
df_filtered

,player_id,short_name,age,nationality_name,player_positions,overall,potential,value_eur,pace,shooting,passing,dribbling,defending,physic
0,252371,J. Bellingham,22,England,CAM,90,94,174500000,80.0,86.0,83.0,90.0,78.0,85.0
1,239053,F. Valverde,26,Uruguay,CM,89,90,120500000,88.0,84.0,84.0,84.0,83.0,85.0
2,212622,J. Kimmich,30,Germany,CDM,89,89,86000000,72.0,74.0,89.0,84.0,83.0,79.0
3,235212,A. Hakimi,26,Morocco,RB,89,90,111000000,92.0,79.0,82.0,83.0,82.0,79.0
4,224232,N. Barella,28,Italy,CM,87,87,79500000,80.0,78.0,84.0,86.0,81.0,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16945,275651,Peng Xiao,19,China PR,CB,48,61,100000,53.0,27.0,28.0,29.0,48.0,57.0
16969,77910,Zhang Zhaozhi,21,China PR,CB,48,55,90000,60.0,21.0,25.0,32.0,48.0,58.0
17049,273641,Sun Guoliang,34,China PR,CB,51,51,20000,39.0,23.0,33.0,30.0,58.0,44.0
17060,274116,Jo Hyun Tae,20,Korea Republic,CB,49,61,110000,43.0,23.0,29.0,32.0,49.0,59.0
17150,76160,Jung Seung Bin,18,Korea Republic,CB,50,66,110000,43.0,24.0,27.0,32.0,49.0,62.0

#### Filtered Dataframe Information

In [6]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16343 entries, 0 to 17150
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   player_id         16343 non-null  int64
 1   short_name        16343 non-null  object
 2   age               16343 non-null  int64
 3   nationality_name  16343 non-null  object
 4   player_positions  16343 non-null  object
 5   overall           16343 non-null  int64
 6   potential         16343 non-null  int64
 7   value_eur         16343 non-null  int64
 8   pace              16343 non-null  float64
 9   shooting          16343 non-null  float64
 10  passing           16343 non-null  float64
 11  dribbling         16343 non-null  float64
 12  defending         16343 non-null  float64
 13  physic            16343 non-null  float64
dtypes: float64(6), int64(5), object(3)
memory usage: 1.9+ MB

#### Filtered Dataframe Description

In [7]:
df_filtered.describe()

,player_id,age,overall,potential,value_eur,pace,shooting,passing,dribbling,defending,physic
count,16343.000000,16343.000000,16343.000000,16343.000000,1.634300e+04,16343.000000,16343.000000,16343.000000,16343.000000,16343.000000,16343.000000
mean,207524.946583,25.090130,65.961084,71.362235,3.072213e+06,68.373922,52.810255,57.611944,62.881356,51.952090,64.764303
std,74176.040555,4.651706,6.864500,6.346565,8.200207e+06,10.515457,13.939193,9.905251,9.384043,16.196168,9.746487
min,20801.000000,16.000000,47.000000,49.000000,0.000000e+00,30.000000,21.000000,25.000000,22.000000,15.000000,32.000000
25%,198088.500000,21.000000,62.000000,67.000000,5.000000e+05,62.000000,42.000000,51.000000,57.000000,38.000000,58.000000
50%,238476.000000,25.000000,66.000000,71.000000,1.100000e+06,69.000000,55.000000,58.000000,64.000000,57.000000,66.000000
75%,260947.000000,28.000000,70.000000,76.000000,2.200000e+06,75.000000,63.000000,64.000000,69.000000,64.000000,72.000000
max,280142.000000,44.000000,91.000000,95.000000,1.745000e+08,97.000000,92.000000,92.000000,93.000000,90.000000,91.000000

Given the dataframe description, the average age of a player is 25 years old, the average overall is roughly 67, the average potential overall is roughly 71, and the average player value is 3,072,213. While all of these values being given are helpful, to properly utilize them, it is necessary to remove outliers to accurately view the correlation between features.